<!doctype html>

<html lang="uk">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <title>SLOG</title>
  <meta name="description" content="read teaching">
  <meta name="author" content="mrbloom">

  <!-- link rel="stylesheet" href="css/styles.css?v=1.0" -->

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>

  <![endif]-->

</head>

<body>
  <form name="text_form" id="text_form" action=""> <!--onsubmit="return check_form(event)"-->
    <textarea name="input_text" id="input_text" rows="5" placeholder="Додайте текст" onclick="change_input_text(event)" onkeyup="change_input_text(event)" onchange="change_input_text(event)"></textarea>
    <textarea name="output_text" id="output_text" rows="5"></textarea>
    
    <input type="button" onclick="check_form(event)" value="Добавить">   
  </form>
  <div id="zero"></div>
  

  <script src="slog_split.js"></script>
   
</body>
</html>
